---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.co.uk/onca/xml?AWSAccessKeyId=<AMAZON_ACCESS_KEY_ID>&AssociateTag=<AMAZON_AFFILIATE_ID>&IdType=ASIN&ItemId=B01AX72ZTI&Operation=ItemLookup&ResponseGroup=Accessories,AlternateVersions,BrowseNodes,EditorialReview,Images,ItemAttributes,ItemIds,Large,Medium,OfferFull,OfferListings,Offers,OfferSummary,PromotionSummary,Reviews,SalesRank,Similarities,Small,Tracks,Variations,VariationImages,VariationMatrix,VariationOffers,VariationSummary&Service=AWSECommerceService&Signature=uqUJhWHuPA7nmej8WfEFV3UIXia6ER%2B7E22YBa9qg88=&Timestamp=2017-04-07T08:02:02Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" ?><ItemLookupResponse xmlns=\"http://webservices.amazon.com/AWSECommerceService/2011-08-01\"><OperationRequest><HTTPHeaders><Header
        Name=\"UserAgent\" Value=\"http.rb/2.2.1\"></Header></HTTPHeaders><RequestId>f5fd1b03-9bae-4917-8ee1-eba7af2b6bfd</RequestId><Arguments><Argument
        Name=\"AWSAccessKeyId\" Value=\"<AMAZON_ACCESS_KEY_ID>\"></Argument><Argument
        Name=\"AssociateTag\" Value=\"<AMAZON_AFFILIATE_ID>\"></Argument><Argument
        Name=\"IdType\" Value=\"ASIN\"></Argument><Argument Name=\"ItemId\" Value=\"B01AX72ZTI\"></Argument><Argument
        Name=\"Operation\" Value=\"ItemLookup\"></Argument><Argument Name=\"ResponseGroup\"
        Value=\"Accessories,AlternateVersions,BrowseNodes,EditorialReview,Images,ItemAttributes,ItemIds,Large,Medium,OfferFull,OfferListings,Offers,OfferSummary,PromotionSummary,Reviews,SalesRank,Similarities,Small,Tracks,Variations,VariationImages,VariationMatrix,VariationOffers,VariationSummary\"></Argument><Argument
        Name=\"Service\" Value=\"AWSECommerceService\"></Argument><Argument Name=\"Timestamp\"
        Value=\"2017-04-07T08:02:02Z\"></Argument><Argument Name=\"Signature\" Value=\"uqUJhWHuPA7nmej8WfEFV3UIXia6ER+7E22YBa9qg88=\"></Argument></Arguments><RequestProcessingTime>0.0485744850000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemLookupRequest><IdType>ASIN</IdType><ItemId>B01AX72ZTI</ItemId><ResponseGroup>Accessories</ResponseGroup><ResponseGroup>AlternateVersions</ResponseGroup><ResponseGroup>BrowseNodes</ResponseGroup><ResponseGroup>EditorialReview</ResponseGroup><ResponseGroup>Images</ResponseGroup><ResponseGroup>ItemAttributes</ResponseGroup><ResponseGroup>ItemIds</ResponseGroup><ResponseGroup>Large</ResponseGroup><ResponseGroup>Medium</ResponseGroup><ResponseGroup>OfferFull</ResponseGroup><ResponseGroup>OfferListings</ResponseGroup><ResponseGroup>Offers</ResponseGroup><ResponseGroup>OfferSummary</ResponseGroup><ResponseGroup>PromotionSummary</ResponseGroup><ResponseGroup>Reviews</ResponseGroup><ResponseGroup>SalesRank</ResponseGroup><ResponseGroup>Similarities</ResponseGroup><ResponseGroup>Small</ResponseGroup><ResponseGroup>Tracks</ResponseGroup><ResponseGroup>Variations</ResponseGroup><ResponseGroup>VariationImages</ResponseGroup><ResponseGroup>VariationMatrix</ResponseGroup><ResponseGroup>VariationOffers</ResponseGroup><ResponseGroup>VariationSummary</ResponseGroup><VariationPage>All</VariationPage></ItemLookupRequest></Request><Item><ASIN>B01AX72ZTI</ASIN><ParentASIN>B01DCY526W</ParentASIN><DetailPageURL>https://www.amazon.co.uk/Cellucor-Workout-Powder-Extreme-Servings/dp/B01AX72ZTI?psc=1&amp;SubscriptionId=<AMAZON_ACCESS_KEY_ID>&amp;tag=<AMAZON_AFFILIATE_ID>&amp;linkCode=xm2&amp;camp=2025&amp;creative=165953&amp;creativeASIN=B01AX72ZTI</DetailPageURL><ItemLinks><ItemLink><Description>Add
        To Wishlist</Description><URL>https://www.amazon.co.uk/gp/registry/wishlist/add-item.html?asin.0=B01AX72ZTI&amp;SubscriptionId=<AMAZON_ACCESS_KEY_ID>&amp;tag=<AMAZON_AFFILIATE_ID>&amp;linkCode=xm2&amp;camp=2025&amp;creative=12734&amp;creativeASIN=B01AX72ZTI</URL></ItemLink><ItemLink><Description>Tell
        A Friend</Description><URL>https://www.amazon.co.uk/gp/pdp/taf/B01AX72ZTI?SubscriptionId=<AMAZON_ACCESS_KEY_ID>&amp;tag=<AMAZON_AFFILIATE_ID>&amp;linkCode=xm2&amp;camp=2025&amp;creative=12734&amp;creativeASIN=B01AX72ZTI</URL></ItemLink><ItemLink><Description>All
        Customer Reviews</Description><URL>https://www.amazon.co.uk/review/product/B01AX72ZTI?SubscriptionId=<AMAZON_ACCESS_KEY_ID>&amp;tag=<AMAZON_AFFILIATE_ID>&amp;linkCode=xm2&amp;camp=2025&amp;creative=12734&amp;creativeASIN=B01AX72ZTI</URL></ItemLink><ItemLink><Description>All
        Offers</Description><URL>https://www.amazon.co.uk/gp/offer-listing/B01AX72ZTI?SubscriptionId=<AMAZON_ACCESS_KEY_ID>&amp;tag=<AMAZON_AFFILIATE_ID>&amp;linkCode=xm2&amp;camp=2025&amp;creative=12734&amp;creativeASIN=B01AX72ZTI</URL></ItemLink></ItemLinks><SalesRank>3792</SalesRank><SmallImage><URL>https://images-eu.ssl-images-amazon.com/images/I/512NZT0uI9L._SL75_.jpg</URL><Height
        Units=\"pixels\">75</Height><Width Units=\"pixels\">73</Width></SmallImage><MediumImage><URL>https://images-eu.ssl-images-amazon.com/images/I/512NZT0uI9L._SL160_.jpg</URL><Height
        Units=\"pixels\">160</Height><Width Units=\"pixels\">155</Width></MediumImage><LargeImage><URL>https://images-eu.ssl-images-amazon.com/images/I/512NZT0uI9L.jpg</URL><Height
        Units=\"pixels\">500</Height><Width Units=\"pixels\">485</Width></LargeImage><ImageSets><ImageSet
        Category=\"variant\"><SwatchImage><URL>https://images-eu.ssl-images-amazon.com/images/I/616sHSrTyKL._SL30_.jpg</URL><Height
        Units=\"pixels\">30</Height><Width Units=\"pixels\">23</Width></SwatchImage><SmallImage><URL>https://images-eu.ssl-images-amazon.com/images/I/616sHSrTyKL._SL75_.jpg</URL><Height
        Units=\"pixels\">75</Height><Width Units=\"pixels\">57</Width></SmallImage><ThumbnailImage><URL>https://images-eu.ssl-images-amazon.com/images/I/616sHSrTyKL._SL75_.jpg</URL><Height
        Units=\"pixels\">75</Height><Width Units=\"pixels\">57</Width></ThumbnailImage><TinyImage><URL>https://images-eu.ssl-images-amazon.com/images/I/616sHSrTyKL._SL110_.jpg</URL><Height
        Units=\"pixels\">110</Height><Width Units=\"pixels\">84</Width></TinyImage><MediumImage><URL>https://images-eu.ssl-images-amazon.com/images/I/616sHSrTyKL._SL160_.jpg</URL><Height
        Units=\"pixels\">160</Height><Width Units=\"pixels\">122</Width></MediumImage><LargeImage><URL>https://images-eu.ssl-images-amazon.com/images/I/616sHSrTyKL.jpg</URL><Height
        Units=\"pixels\">500</Height><Wid[...]
