<div class="ui vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui stackable divided grid">
      <div class="three wide column">
        <h4 class="ui header">Trackr</h4>
        <div class="ui link list">
          <a href="#" class="item">Forums</a>
          <a href="#" class="item">Price Drops</a>
          <a href="#" class="item">Price Trends</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui header">Stuff</h4>
        <div class="ui link list">
          <a href="#" class="item">About</a>
          <a href="#" class="item">Contact</a>
          <a href="#" class="item">Terms of Service</a>
          <a href="#" class="item">Privacy Policy</a>
          <a href="#" class="item">Disclosure</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui header">Elsewhere</h4>
        <div class="ui link list">
          <a href="#" class="item">Facebook</a>
          <a href="#" class="item">Instagram</a>
          <a href="#" class="item">Twitter</a>
          <a href="#" class="item">Youtube</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui header">Footer Header</h4>
        <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
      </div>
    </div>
    <div class="ui section divider"></div>
    <img src="" class="ui centered mini image">
    <div class="ui horizontal small divided link list">
      <a class="item" href="#">Site Map</a>
      <a class="item" href="#">Contact Us</a>
      <a class="item" href="#">Terms and Conditions</a>
      <a class="item" href="#">Privacy Policy</a>
    </div>
  </div>
</div>
