<div class="ui vertical footer segment">
  <div class="ui center aligned container">
    <img src="" class="ui centered mini image">
    <div class="ui horizontal small divided link list">
      <a class="item" href="#">Site Map</a>
      <a class="item" href="#">Contact Us</a>
      <a class="item" href="#">Terms and Conditions</a>
      <a class="item" href="#">Privacy Policy</a>
      <a class="item" href="https://twitter.com/traqker" target="_blank">Twitter</a>
    </div>
  </div>
</div>
