<div class="ui main text container">
  <div class="ui grid">
    <h2>Groups</h2>
    <div>
      <% @amazon_product_groups.each do |p| %>
        <%= link_to p.name, amazon_product_group_path(p) %>
      <% end %>
    </div>

    <h2>Categories</h2>
    <div>
      <% @amazon_product_categories.each do |p| %>
        <%= link_to p.name, amazon_product_category_path(p) %>
      <% end %>
    </div>

    <% 5.times.each do |i| %>
    <%= render partial: 'shared/spark_line_graph',
               locals: { id: "sparkey_#{i}",
                         labels: ["January","February","March","April","May","June","July"],
                         data: [65, 59, 80, 81, 56, 55, 40] } %>
                         <% end %>
  </div>
</div>



