<div class="ui grid">
  <div>
    <h2>Groups</h2>
    <% @amazon_product_groups.each do |p| %>
      <%= link_to p.name, amazon_product_group_path(p) %>
    <% end %>
  </div>

  <div>
    <h2>Categories</h2>
    <% @amazon_product_categories.each do |p| %>
      <%= link_to p.name, amazon_product_category_path(p) %>
    <% end %>
  </div>
</div>
