---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.co.uk/onca/xml?AWSAccessKeyId=<AMAZON_ACCESS_KEY_ID>&AssociateTag=<AMAZON_AFFILIATE_ID>&IdType=ASIN&ItemId=B01AX72ZTI&Operation=ItemLookup&ResponseGroup=ItemAttributes,SalesRank,Images,Similarities&Service=AWSECommerceService&Signature=d5C68IjgntTbmDDIuHO%2BaKgF0NzLeXhHFnrUH%2B3VYJI=&Timestamp=2017-03-28T14:48:26Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0"?>
        <ItemLookupErrorResponse xmlns="http://ecs.amazonaws.com/doc/2005-10-05/"><Error><Code>InvalidClientTokenId</Code><Message>The AWS Access Key Id you provided does not exist in our records.</Message></Error><RequestId>5c581dd5-1377-4c47-a4da-fde5bf89b750</RequestId></ItemLookupErrorResponse>
  recorded_at: Tue, 28 Mar 2017 14:48:26 GMT
recorded_with: VCR 3.0.3
