---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.co.uk/onca/xml?AWSAccessKeyId=<FILTERED>&AssociateTag=<FILTERED>&IdType=ASIN&ItemId=B01AX72ZTI&Operation=ItemLookup&ResponseGroup=ItemAttributes,SalesRank,Images,Similarities&Service=AWSECommerceService&Signature=WXHhFtsifLv9zFZz/gOWHTkJBQgOJ3SawmUyY47WaAQ=&Timestamp=2017-03-28T13:43:09Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0"?>
        <ItemLookupErrorResponse xmlns="http://ecs.amazonaws.com/doc/2005-10-05/"><Error><Code>RequestExpired</Code><Message>Request has expired. Timestamp date is 2017-03-28T13:43:09Z.</Message></Error><RequestId>fae01f02-f281-488d-8d10-b982e07c848f</RequestId></ItemLookupErrorResponse>
  recorded_at: Tue, 28 Mar 2017 13:43:09 GMT
recorded_with: VCR 3.0.3
