/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

body {
  background-color: #FFFFFF;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.ui.footer.segment {
  margin: 3em 0em 0em;
  padding: 3em 0em;
}

.image.center {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header {
  font-size: 1em !important;
}

.current_price {
  font-size: 17px!important;
  line-height: 1.255!important;
  text-rendering: optimizeLegibility;
  color: #b12704 !important;
}

.current_price_small {
  font-size: 13px!important;
  line-height: 19px!important;
}

.a-icon-prime, .a-prime-logo {
    height: 16px;
    width: 52px;
    background-position: -5px -489px;
    vertical-align: baseline;
}

.a-icon, .a-link-emphasis:after {
    background-image: url(AmazonUIBaseCSS-sprite_1x.png);
    -webkit-background-size: 400px 670px;
    background-size: 400px 670px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
}
