---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.co.uk/onca/xml?AWSAccessKeyId=<AMAZON_ACCESS_KEY_ID>&AssociateTag=<AMAZON_AFFILIATE_ID>&IdType=ASIN&ItemId=B01AX72ZTI&Operation=ItemLookup&ResponseGroup=ItemAttributes,SalesRank,Images,Similarities&Service=AWSECommerceService&Signature=bjFKmKXwqhoQDT4AGQS6CASKguVag/96pgcfIPVz/bQ=&Timestamp=2017-03-29T08:03:42Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" ?><ItemLookupResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2011-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="http.rb/2.2.1"></Header></HTTPHeaders><RequestId>7a6db7f1-b2bd-4a42-b1ef-b37ccfd06352</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="<AMAZON_ACCESS_KEY_ID>"></Argument><Argument
        Name="AssociateTag" Value="<AMAZON_AFFILIATE_ID>"></Argument><Argument Name="IdType"
        Value="ASIN"></Argument><Argument Name="ItemId" Value="B01AX72ZTI"></Argument><Argument
        Name="Operation" Value="ItemLookup"></Argument><Argument Name="ResponseGroup"
        Value="ItemAttributes,SalesRank,Images,Similarities"></Argument><Argument
        Name="Service" Value="AWSECommerceService"></Argument><Argument Name="Timestamp"
        Value="2017-03-29T08:03:42Z"></Argument><Argument Name="Signature" Value="bjFKmKXwqhoQDT4AGQS6CASKguVag/96pgcfIPVz/bQ="></Argument></Arguments><RequestProcessingTime>0.0311448280000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemLookupRequest><IdType>ASIN</IdType><ItemId>B01AX72ZTI</ItemId><ResponseGroup>ItemAttributes</ResponseGroup><ResponseGroup>SalesRank</ResponseGroup><ResponseGroup>Images</ResponseGroup><ResponseGroup>Similarities</ResponseGroup><VariationPage>All</VariationPage></ItemLookupRequest></Request><Item><ASIN>B01AX72ZTI</ASIN><ParentASIN>B01DCY526W</ParentASIN><DetailPageURL>https://www.amazon.co.uk/Cellucor-Workout-Powder-Extreme-Servings/dp/B01AX72ZTI%3Fpsc%3D1%26SubscriptionId%3D<AMAZON_ACCESS_KEY_ID>%26tag%3D<AMAZON_AFFILIATE_ID>%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3DB01AX72ZTI</DetailPageURL><ItemLinks><ItemLink><Description>Add
        To Wishlist</Description><URL>https://www.amazon.co.uk/gp/registry/wishlist/add-item.html%3Fasin.0%3DB01AX72ZTI%26SubscriptionId%3D<AMAZON_ACCESS_KEY_ID>%26tag%3D<AMAZON_AFFILIATE_ID>%26linkCode%3Dxm2%26camp%3D2025%26creative%3D12734%26creativeASIN%3DB01AX72ZTI</URL></ItemLink><ItemLink><Description>Tell
        A Friend</Description><URL>https://www.amazon.co.uk/gp/pdp/taf/B01AX72ZTI%3FSubscriptionId%3D<AMAZON_ACCESS_KEY_ID>%26tag%3D<AMAZON_AFFILIATE_ID>%26linkCode%3Dxm2%26camp%3D2025%26creative%3D12734%26creativeASIN%3DB01AX72ZTI</URL></ItemLink><ItemLink><Description>All
        Customer Reviews</Description><URL>https://www.amazon.co.uk/review/product/B01AX72ZTI%3FSubscriptionId%3D<AMAZON_ACCESS_KEY_ID>%26tag%3D<AMAZON_AFFILIATE_ID>%26linkCode%3Dxm2%26camp%3D2025%26creative%3D12734%26creativeASIN%3DB01AX72ZTI</URL></ItemLink><ItemLink><Description>All
        Offers</Description><URL>https://www.amazon.co.uk/gp/offer-listing/B01AX72ZTI%3FSubscriptionId%3D<AMAZON_ACCESS_KEY_ID>%26tag%3D<AMAZON_AFFILIATE_ID>%26linkCode%3Dxm2%26camp%3D2025%26creative%3D12734%26creativeASIN%3DB01AX72ZTI</URL></ItemLink></ItemLinks><SalesRank>4466</SalesRank><SmallImage><URL>https://images-eu.ssl-images-amazon.com/images/I/512NZT0uI9L._SL75_.jpg</URL><Height
        Units="pixels">75</Height><Width Units="pixels">73</Width></SmallImage><MediumImage><URL>https://images-eu.ssl-images-amazon.com/images/I/512NZT0uI9L._SL160_.jpg</URL><Height
        Units="pixels">160</Height><Width Units="pixels">155</Width></MediumImage><LargeImage><URL>https://images-eu.ssl-images-amazon.com/images/I/512NZT0uI9L.jpg</URL><Height
        Units="pixels">500</Height><Width Units="pixels">485</Width></LargeImage><ImageSets><ImageSet
        Category="variant"><SwatchImage><URL>https://images-eu.ssl-images-amazon.com/images/I/616sHSrTyKL._SL30_.jpg</URL><Height
        Units="pixels">30</Height><Width Units="pixels">23</Width></SwatchImage><SmallImage><URL>https://images-eu.ssl-images-amazon.com/images/I/616sHSrTyKL._SL75_.jpg</URL><Height
        Units="pixels">75</Height><Width Units="pixels">57</Width></SmallImage><ThumbnailImage><URL>https://images-eu.ssl-images-amazon.com/images/I/616sHSrTyKL._SL75_.jpg</URL><Height
        Units="pixels">75</Height><Width Units="pixels">57</Width></ThumbnailImage><TinyImage><URL>https://images-eu.ssl-images-amazon.com/images/I/616sHSrTyKL._SL110_.jpg</URL><Height
        Units="pixels">110</Height><Width Units="pixels">84</Width></TinyImage><MediumImage><URL>https://images-eu.ssl-images-amazon.com/images/I/616sHSrTyKL._SL160_.jpg</URL><Height
        Units="pixels">160</Height><Width Units="pixels">122</Width></MediumImage><LargeImage><URL>https://images-eu.ssl-images-amazon.com/images/I/616sHSrTyKL.jpg</URL><Height
        Units="pixels">500</Height><Width Units="[...]
